@font-face {
    font-family: 'Pragmaticac';
    src: url('../fonts/pragmaticac/pragmaticac.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmaticac';
    src: url('../fonts/pragmaticac/pragmaticac-bold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Micra Normal';
    src: url('../fonts/mirca/Micra.eot');
    src: url('../fonts/mirca/Micra.eot?#iefix') format('embedded-opentype'), url('../fonts/mirca/Micra.woff') format('woff'), url('../fonts/mirca/Micra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Micra Bold';
    src: url('../fonts/mirca/Micra-Bold.eot');
    src: url('../fonts/mirca/Micra-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/mirca/Micra-Bold.woff') format('woff'), url('../fonts/mirca/Micra-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('../fonts/din/din.eot');
    src: url('../fonts/din/din.eot?#iefix') format('embedded-opentype'), url('../fonts/din/din.woff2') format('woff2'), url('../fonts/din/din.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}